@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use './mixins.scss' as *;

.footer__c1,
.footer__c2 {
    padding-top: $spacing-09;
    padding-bottom: $spacing-09;
    padding-right: $spacing-06;
    padding-left: $spacing-06;

    margin-left: 10px;
    margin-right: 10px;

    @include breakpoint-down(md) {
        margin-left: 0;
        margin-right: 0;
    }
}

.footer {
    @include footer-background;
}

.widget-title {
    padding-top: $spacing-09;
    padding-right: $spacing-06;
}